@import 'colors';
@import 'extends';

.logo {
    width: 100%;
}

.nav-logo {
    width: 10%;

}

h1{
    font-weight: bold;
}
.carousel-section {
    padding: 0;
} 

.carousel-caption {
    bottom: 50%!important;
}

nav {
    background-color: $color_orange;
}



.navbar-nav {
    .nav-item{
        .nav-link {
            color: $color_white!important;
            &:hover {
                color: $color_yellow;
                text-decoration: underline;
            }
        }
    }
}

.dropdown-menu {
    background-color: $color_orange;

}

.dropdown-item {
    color: $color_white!important;
    &:hover {
        background-color: $color_red;
    }
}

body {
    @extend .main-brackground;
    font-family: Merriweather;
}

.home {
    @extend .main-brackground;
}



.servicios {
    @extend .content-section;
    background-color: $color_white;
    
}

.service-item {
    text-align: center;
    padding-top: 20px;
    p {
        padding-top: 20px;
    }
    img {
        width: 70%;
    }

}

.store-item{
    background-color: $color_orange;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
  
    img{
        width: 100%;
    }
    p {
        margin-top:20px;
        font-weight: bold;
    }
    button {
        background-color: $color_white;
    }
}

.tienda {
    @extend .content-section;
    background-color: $color_yellow;
    
}

.store-items {
    .row {
        div {
            img {
                width: 100%;
            }
        }
    }
}

@media (min-width: 1200px) {
    .nav {
        max-height: 200px;

    }
    .store-items {
        .row {
            flex-wrap: nowrap;
        }
    }

    
    .store-item {
        margin: 20px
    }

}

@media (max-width: 992px) {
    
    .store-item {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .spotlight {
        margin-top:10px;
        margin-bottom: 10px;
    }
}
.portfolio {
    @extend .content-section;
    background-color: $color_orange;
    
}

.portfolio-row {
    padding-top:20px;
    padding-bottom: 20px;
}

.infotografia {
    @extend .content-section;
    background-color: $color_red;
    color: $color_white;
    .container .row {
        margin-top: 40px;
        margin-bottom: 40px;
    }
}
.revelado {
    @extend .content-section;
    background-color: $color_dark;
    color: $color_white;
    padding-bottom: 20px;
    
}

.mail-contact {
    color: black;
}

footer {
    ul {
        width: 100%;
        li {
           list-style-type: none;
        }
    }
    .row {
        text-align: center;
        padding-top: 20px;
        a{
            margin-right: 10px;
        }
    }
    .socialMedia {
        float: right;
    }
    background-color: $color_red;
}